<h1>Editing order shoe</h1>

<%= render "form", order_shoe: @order_shoe %>

<br>

<div>
  <%= link_to "Show this order shoe", @order_shoe %> |
  <%= link_to "Back to order shoes", order_shoes_path %>
</div>
